<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node._id" [attr.id]="'node-'+node._id">

    <div class="node-title" (click)="node.isExpanded=!node.isExpanded">
      {{node.children.length ? (node.isExpanded?'-&nbsp;':'+') : '&nbsp;&nbsp;&nbsp;'}} &nbsp;&nbsp;&nbsp; {{node.name}} <span class="item-notes"> ({{node.children.length}}{{node.children.length?', expanded: ' + !!node.isExpanded:''}})</span>
    </div>

    <div *ngIf="node.isExpanded && node.children.length" class="node-children"
      cdkDropList [cdkDropListData]="node.children"
         [id]="node._id" [cdkDropListConnectedTo]="dropTargetIds"
         (cdkDropListDropped)="drop($event)"
         [cdkDropListSortingDisabled]="true">

      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child._id"
           (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
      </div>

    </div>

  </div>
</ng-template>
<div class="list-TodoItem" cdkDropList [cdkDropListData]="itemsTodoItem "
    [id]="'main'" [cdkDropListConnectedTo]="dropTargetIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListSortingDisabled]="true">
    <div class="ma-list" *ngFor="let item of itemsTodoItem" cdkDrag [cdkDragData]="item._id"  (cdkDragMoved)="dragMoved($event)">
        <!-- <li> -->
            <!-- Start of user code TodoItem:list! -->
            <!-- <span [class.done]="item.done">{{ item.name }}</span> -->
            <ng-container *ngTemplateOutlet="tmplNode,context:{node:item}"></ng-container>
            <!-- End of user code -->

            <!-- <div class="ma-events">
                <span
                    (click)="trigger_delete(item)"
                    class="ma-event ma-select delete"
                    >delete</span
                >

                <span
                    (click)="trigger_done(item)"
                    class="ma-event ma-select done"
                    >done</span
                >

                <span (click)="trigger_move(item)" class="ma-event move"
                    >move</span
                >
            </div> -->
        <!-- </li> -->
    </div>
</div>

<hr />
<p><strong>current drag drop action:</strong></p>
<pre>{{dropActionTodo|json}}</pre>
<hr />
<p><strong>tree data</strong></p>
<pre>{{itemsTodoItem|json}}</pre>
