/* Start of user code css-Todolist:! */
.ma-events .ma-event {
    font-size: 0;
}
.ma-events .ma-event:before {
    font-size: initial;
}

/* tree */

.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    background: #fff;
    opacity: 0.3;
}

.drop-inside {
    border: 1px solid #00f;
}

.drop-before {
    border-top: 1px solid #00f;
}

.drop-after {
    border-bottom: 1px solid #00f;
}

.node-title {
    padding: 15px;
    margin: 5px;
    background: #eee;
    cursor: grab;
}

.node-children {
    position: relative;
    transition: height 0.2s;
    margin-left: 5px;
    border-left: 1px solid #ccc;
}
.item-notes {
    margin-left: 5px;
    color: #aaa;
}
.ma-event::before{
  font-size: 12px;
}

/* End of user code */

.move {
    /* Start of user code css-Todolist:move! */
    /* End of user code */
}

.edit {
    /* Start of user code css-Todolist:edit! */
    /* End of user code */
}

.delete {
    /* Start of user code css-Todolist:delete! */
    /* End of user code */
}

.done {
    /* Start of user code css-Todolist:done! */
    text-decoration: line-through;
    display: none;
    /* End of user code */
}
