<!-- Start of user code Todolistcontent! -->
<ng-template #tmplNode let-node="node">
    <div
        class="node-item"
        [attr.data-id]="node._id"
        [attr.id]="'node-' + node._id"
    >
        <div
            class="node-title"
            (click)="node.isExpanded = node.isExpanded"
            [class.done]="node.done"
        >
            {{
                node.children.length
                    ? node.isExpanded
                        ? "-&nbsp;"
                        : "+"
                    : "&nbsp;&nbsp;&nbsp;"
            }}
            {{node.orderNr }} - {{node.parent}}
            <input #todoInputs
                type="text"
                [(ngModel)]="node.name"
                [attr.data-id]="node._id"
                [attr.data-parent]="node.parent"
                [class.done]="node.done"
                (ngModelChange)="onInputChange(node)"
            />
            <!-- <span class="item-notes">
                ({{ node.children.length
                }}{{
                    node.children.length
                        ? ", expanded: " + !!node.isExpanded
                        : ""
                }})</span> -->

            <div class="ma-events">
                <span
                    (click)="trigger_delete(node)"
                    class="ma-event ma-select delete"
                    >delete</span
                >

                <span
                    (click)="trigger_done(node)"
                    class="ma-event ma-select done"
                    >done</span
                >

                <span
                  (mousedown)="dragDisabled = false;"
                  class="ma-event move" title="Drag & Drop to change ordering"
                    >move</span
                >
            </div>
        </div>

        <div
            *ngIf="node.isExpanded && node.children.length"
            class="node-children"
            nestedDropList
            [dropListData]="node.children"
            [id]="node._id"
            [cdkDropListConnectedTo]="dropTargetIds"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListSortingDisabled]="true"
            [cdkDropListDisabled]="dragDisabled"
        >
            <div
                *ngFor="let child of node.children"
                cdkDrag
                [cdkDragData]="child._id"
                (cdkDragMoved)="dragMoved($event)"
            >
                <ng-container
                    *ngTemplateOutlet="tmplNode; context: { node: child }"
                ></ng-container>
            </div>
        </div>
    </div>
</ng-template>
<div
    class="list-TodoItem"
    nestedDropList
    [dropListData]="itemsTodoItem"
    [id]="'main'"
    [cdkDropListConnectedTo]="dropTargetIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListSortingDisabled]="true"
    [cdkDropListDisabled]="dragDisabled"
>
    <div
        class="ma-list"
        *ngFor="let item of itemsTodoItem"
        cdkDrag
        [cdkDragData]="item._id"
        (cdkDragMoved)="dragMoved($event)"
    >
        <ng-container #handle
            *ngTemplateOutlet="tmplNode; context: { node: item }"
        ></ng-container>
    </div>
</div>
<!-- <ng-container
    *ngTemplateOutlet="tmplComponent; context: { items: itemsTodoItem }"
></ng-container> -->
<!-- End of user code -->
<ng-template #tmplComponent let-items="items">
    <div class="list-TodoItem">
        <ul class="ma-list" *ngFor="let item of itemsTodoItem">
            <li>
                <!-- Start of user code TodoItem:list! -->
                {{ item.name }}
                <!-- End of user code -->

                <div class="ma-events">
                    <span
                        (click)="trigger_move(item)"
                        class="ma-event ma-select move"
                        >move</span
                    >

                    <span
                        (click)="trigger_edit(item)"
                        class="ma-event ma-select edit"
                        >edit</span
                    >

                    <span
                        (click)="trigger_delete(item)"
                        class="ma-event ma-select delete"
                        >delete</span
                    >

                    <span
                        (click)="trigger_done(item)"
                        class="ma-event ma-select done"
                        >done</span
                    >
                </div>
            </li>
        </ul>
    </div>
</ng-template>
