<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="fieldname">name: </label>

    <input name="fieldname" id="name" formControlName="fieldname" type="text" autofocus/>

    <input
        type="submit"
        value="create"
        [disabled]="!form.valid"
        class="submit create"
    />
</form>
