/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// @tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "bootstrap-icons/font/bootstrap-icons.scss";

@layer base {

  /* Override default scroll width & look */
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #cbcbcd;
    -webkit-box-shadow: inset 0 0 6px #cbcbcd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a1a1a4;
  }
}

.app {
  @apply p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4;

  h1 {
    @apply text-xl font-medium text-black space-y-4;
  }

  nav {
    @apply flex;

    a {
      // @apply mr-3 text-blue-500 hover:text-blue-800;
      @apply mr-3 inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white;
    }
  }

  .ma-list {
    @apply inline-block w-full bg-white rounded-lg border border-gray-200 text-gray-900;

    li {
      @apply px-7 py-3 border-b border-gray-200 w-full rounded-t-lg;
    }

    .ma-events {
      @apply float-right inline-block rounded object-right;

      .ma-event {
        @extend .bi;
        @apply cursor-pointer inline-block mx-1 py-1.5 px-1.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded;

        &.delete {
          @apply bg-red-600;
          @extend .bi-trash;
        }

        &.done {
          @apply bg-green-600;
          @extend .bi-check-circle;
        }
        &.move {
          @apply bg-green-600;
          @extend .bi-list-nested;
        }
      }
    }
  }
  form{
    @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
    label{
      @apply block text-gray-700 text-sm font-bold mb-2;
    }
    input{
      @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700;
      @apply leading-tight focus:outline-none;
    }
    .submit{
      @apply hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
      &.create{
        @apply bg-green-600;
      }
    }
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
